body {
  background-color: #f4d4b0;
  color: #633811;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.signup-home a{
  font-family: 'Poppins';
}

nav ul{
  display: none;
}

li.signup-home{
  display: flex;
  justify-content: end;
  padding: 8px;
  font-size: 20px;
  color: #633811;
}

li.signup-home:hover{
  text-decoration: underline;
}

a#top{
  display: flex;
  justify-content: center;
  font-family: 'Poppins';
  margin-bottom: 10px;
  font-size: 20px;
}

a#top:hover{
  text-decoration: underline;
}

.contact-link{
  border: solid 1px #633811;
  border-radius: 6px;
  padding: 5px;
}

.signup-link{
  background-color: #633811;
  color: #F8F0E7;
  border-radius: 6px;
  padding: 5px;
}

.signup-link:hover{
  font-weight: bold;
  text-decoration: underline;
  box-shadow: 2px 2px 5px #a9a9a9;
}

.features-link:hover, .future-link:hover, .contact-link:hover,
.works-link:hover{
  text-decoration: underline;
  font-weight: bold;
}

.mobile-logo{
  display: flex;
  justify-content: center;
  margin: 10px;
  font-family: 'Cinzel';
  font-size: 40px;
}

#mainskip{
    text-transform: uppercase;
    position: absolute;
    left: -400px;
} 

#mainskip:focus{
    font-family: 'Poppins';
    position: fixed;
    left: 40.5%;
    top: 5px;
    z-index: 999;
    padding: 3px;
    box-shadow: 2px 2px 5px #d3d3d3;
    background-color: #F8F0E7;
    border-radius: 6px;
    padding: 5px;
    font-weight: bold;
}  

h1{
    font-size: 50px;
    font-family: 'Poppins';
    /* font-weight: bold; */
    margin-left: 10px;
    padding: 10px;
}

h2 {
    font-size: 35px;
    font-family: 'Poppins';
    margin-left: 10px;
    padding: 10px;
}

h3{
    font-size: 25px;
    font-family: 'Poppins';
    margin-left: 10px;
    padding: 10px;
}

h4{
    font-size: 18px;
    font-family: 'Poppins';
    text-align: center;
}

h4 a:hover{
  text-decoration: underline;
}

p{
    font-size: 20px;
    font-family: 'Poppins';
    margin-left: 20px;
    padding-bottom: 10px;
}

ol{
    font-size: 25px;
    margin-left: 50px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-family: 'Poppins';
}

li{
    list-style: decimal;
    padding: 2px;
}

.intro, .theworks, .features, .future, .mobile-actions {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
    background-color: rgba(248,240,231, 0.6);
    border-radius: 10px;
    box-shadow: 2px 2px 5px #FF9D2B;
    justify-content: space-evenly;
    align-items: center;
}

.mobile-actions{
  padding-bottom: 12px;
}

.mobile-actions h3{
  text-align: center;
}
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }

  .signup{
    width: 60%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Poppins';
    background-color: rgba(248,240,231, 0.7);
    border-radius: 10px;
    box-shadow: 2px 2px 5px #FF9D2B;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
  }

  #signup-back{
    background-image: url(/images/sunset.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
  }

  .signup span{
    font-weight: bold;
    font-size: 18px;
  }

  .signup input{
    border: 1px solid #633811;
    text-align: left;
    padding: 3px;
    margin-top: 20px;
    border-radius: 4px;
    width: 60%;
  }

  .signup input:hover{
    background-color: #f7d2a8;
  }

  #submit{
    background-color: #633811;
    color: #F8F0E7;
    padding: 3px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 6px;
    border-radius: 4px;
  }

  #submit:hover{
    background-color: #F8F0E7;
    border: solid 1px #633811;
    color: #633811;
  }

  .home{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Poppins';
  }

  .home:hover{
    color: #F8F0E7;
    text-decoration: underline;
  }

  #contacth1{
    font-size: 40px;
    text-align: center;
  }

  .contact{
    width: 60%;
    margin: auto;
    text-align: left;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Poppins';
    background-color: rgba(248,240,231, 0.7);
    border-radius: 10px;
    box-shadow: 2px 2px 5px #FF9D2B;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
  }

  #contact-back{
    background-image: url(/images/sunset.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
  }

  textarea{
    border: 1px #633811 solid;
    text-align: left;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    border-radius: 4px;
    padding: 5px;
  }

  textarea:hover{
    background-color: #f7d2a8;
  }

  #name input, #email input, #subject input{
    border: solid 1px #633811;
    padding: 4px;
    margin: 5px;
    text-align: left;
    border-radius: 4px;
  }

  #name input:hover, #email input:hover, #subject input:hover{
    background-color: #f7d2a8;
  }

  .wander{
    text-align: center;
    background-image: url(/images/sunset.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
  }

  #wander{
    font-family: 'Cinzel';
    font-size: 44px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #633811;
    transition: 1s;
  }

  #wander:hover{
    font-size: 49px;
    font-weight: bold;
  }

  .info-image{
    padding: 20px;
    border-radius: 30px;
    justify-self: center;
    height: 350px;
  }


  @media only screen and (min-width: 600px){
    /* tablet view */

  .mobile-actions{
    display: none;
  }

    .intro, .features{
      grid-template-columns: 1fr 1fr;
      justify-content: space-evenly;
      align-items: center;
  }

  .intro h1{
    grid-column: 1/-1;
  }

  .intro h2{
    justify-self: center;
    margin-left: 30px;
  }

  .features h1{
    grid-column: 1/-1;
  }

    .mobile-logo{
      display: none;
    }

    nav li{
      display: inline-block;
      font-family: 'Poppins';
      margin-left: 10px;
      margin-right: 10px;
  }
    nav ul{
      display: flex;
      justify-content: flex-end;
      justify-items: center;
      align-items: center;
      margin: 10px;
      margin-top: 30px;
      padding: 10px;
      border-radius: 10px;
  }
  
  nav ul li:first-child {
    margin-right: auto;
    font-family: 'Cinzel';
    font-size: 30px;
  }

  }

  @media only screen and (min-width: 768px){
    /* desktop */

    /* .desktop-col{
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: space-evenly;
      align-content: space-around;
    } */

    .intro{
      width: 70%;
      margin: auto;
  }

  .theworks, .future{
    width: 75%;
    margin: auto;
    margin-top: 20px;
  }

  .features{
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

  .intro h1{
    text-align: center;
  }

  a#top{
    margin-top: 20px;
  }

  ul li{
    font-size: larger;
  }

  /* bigger nav bar font */
  }

  @media (prefers-reduced-motion:reduce){
    /* stuff */
  }
  

  


  
